::ng-deep .map-container {
  height: 344px !important;
  width:440px !important;
  left: 122px !important;
  display: inline-block;
}

// ::ng-deep google-map {
//   left: 0px !important;
//   position: unset !important;
// }

.favtitle {
  width: 249px;
  height: 27px;
  margin: 64px 20px 8px 122px;
  font-family: NotoSans;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Charcoal);
}

.favbuoy {
  margin-top: 64px;
}

.rectangle {
  width: 120px;
  height: 4px;
  padding-right: 120px;
  margin: 8px 260px 24px 122px;
  background-image: linear-gradient(to left, #3997b5, #2979ff);
}

.skip {
  width: 28px;
  height: 19px;
  float: right;
  margin-right: 122px;
  font-family: NotoSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Charcoal);
  cursor: pointer;
}

.nearestbuoy {
  width: 30%;
  height: 208px;
  float: right;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: 122px;
  margin-left: 122px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--White);

}

#icon-buoy {
  filter: invert(32%) sepia(65%) saturate(612%) hue-rotate(183deg) brightness(83%) contrast(83%);
}

.favorites {
  width: 108%;
  padding: 32px 16px 50px 16px;
  margin-left: -10px;
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--White);
}

.info {
  height: auto;
}

#title {
  width: 24px;
  height: 24px;
  vertical-align: super;
  margin-bottom: 20px;
  margin-left: 10px;
}

.nBuoys {
  font-family: NotoSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--Charcoal);
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.favButton {
  padding: 4px 20px;
  border-radius: 16px;
  border: solid 1.5px #3b5795;
  background-color: var(--White);
  float: right;
  vertical-align: -webkit-baseline-middle;
  outline: none;
}

.removeButton {
  padding: 4px 20px;
  border-radius: 16px;
  border: none;
  background-color: var(--White);
  float: right;
  vertical-align: -webkit-baseline-middle;
}

#name {
  float: left;
  width: 100%;
}

#star {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.finishbutton {
  width: 100%;
  color: white;
  margin-top: 20px;
  padding: 9px 125px 8px 126px;
  border: none;
  border-radius: 18px;
  background-image: linear-gradient(to right, #3b5795, #3997b5);
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 696px) {
  ::ng-deep .map-container {
    left: 15px !important;
    width: 90% !important;
  }

  .nearestbuoy {
    margin: auto;
    margin-top: 30px;
    float: unset;
    width: 90%;
  }

  .favorites {
    width: 100%;
  }

  .favbuoy {
    width: 100%;
    margin-bottom: 30px;
  }

  .favtitle,
  .rectangle,
  .skip {
    margin: 0;
  }

  .skip {
    margin-right: 16px;
  }

  .finishbutton {
    width: 5px;
  }

  .favtitle,
  .rectangle {
    margin-left: 16px;
  }
}

