<div class="buoy-page">
  <div class="buoy-page-top">

    <div class="map-section">
      <app-map
      [mapWidth]="mapWidth"
      [mapHeight]="mapHeight"
      >
    </app-map>
    </div>

    <div class="header-section">
      <div class="buoy-header">
        <div class="weather-widget" *ngIf="weatherForecast">
          <img
            class="weather-item weather-icon"
            src="http://openweathermap.org/img/w/{{
              weatherForecast.current.weather[0].icon
            }}.png"
          />
          <p class="weather-item">
            {{ weatherForecast.current.temp | number: "1.0-0"
            }}<span>&#176;</span>
          </p>
          <p class="weather-item">
            {{ weatherForecast.current.weather[0].description | titlecase }}
          </p>
        </div>

        <div class="fav-button">
          <img src="../assets/icon-favorite-empty.svg" class="icon-favorite-empty"/>
        </div>

      </div>

      <div class="buoy-title-section">
        <h2 class="buoy-title">{{ currentBuoy.longName | uppercase }}</h2>
        <p class="buoy-number">({{ currentBuoy.id }})</p>
      </div>
    </div>

    <!-- <p class="buoy-update">Last updated: {{ buoyInformation[0].updateTime }}</p> -->
  </div>
  <div class="recreation-container container">
    <h3 class="container-title">These Conditions are Good For</h3>

    <div class="recreation-items-container information-container">
      <img src="../assets/icon-swimming.svg" alt="Swimming" class="icon-conditions">
      Swimming - Wind Speed: {{ currentBuoy.NWSForecast.windspeed[0] }}
    </div>

    <div class="recreation-items-container information-container">
      <img src="../assets/icon-kayaking.svg" alt="Kayaking" class="icon-conditions">
      Kayaking - Wave Height: {{ currentBuoy.NWSForecast.waveheight[0] }}
    </div>

    <div class="recreation-items-container information-container">
      <img src="../assets/icon-fishing.svg" alt="Fishing" class="icon-conditions">
      Fishing
    </div>

    <div class="recreation-items-container information-container">
      <img src="../assets/icon-boating.svg" alt="Boating" class="icon-conditions">
      Boating
    </div>

  </div>
  <div class="video-container container">
    <div class="information-container">
      <p>looping video</p>
    </div>
  </div>


  <!-- <div class="water-temp-chart-container container">
    <h3 class="container-title">Water Temp</h3>
    <div class="information-container">
      <p>Water Temperature Chart</p>
    </div>
  </div>
  <div class="currents-chart-container container">
    <h3 class="container-title">Currents</h3>
    <div class="information-container">
      <p>Currents Chart</p>
    </div>
  </div> -->


  <div class="buoy-info-container container">
    <h2 class="info-title">Buoy Info</h2>
    <div class="rectangle"></div>
    <p class="buoy-details" [innerHTML]="currentBuoy.buoyInfo"></p>
  </div>
  
  <div class="access-details">
    <p>SMS: Text 45175 toll free to <a href="tel:866-218-9973">866-218-9973</a> for latest observations.</p>
    <p>GLOS <a href="http://data.glos.us/metadata/srv/eng/main.home">Data Portal</a>: Access more data, models, and create alerts.</p>
  </div>
</div>
