.buoy-page {
    margin: auto;
}

.buoy-header {
  height: 150px;
  background-color: burlywood;
  margin: 15px;
}

.weather-widget {
   display: flex;
   background-color: cornsilk;
   align-items: center;
}

.weather-item {
  margin-right: 5px;
}

.icon-favorite-filled {
    width: 16px;
    height: 16px;
    object-fit: contain;
  }

  .information-container {
    width: 288px;
    height: 168px;
    margin: 8px 16px 40px;
    padding: 16px 130px 16px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--White);
  }

  .Rectangle {
    width: 60px;
    height: 4px;
    margin: 8px 228px 16px 0;
    background-image: linear-gradient(to left, var(--turqoise-2), var(--blue-400-2));
  }