<div class="buoy-page">
  <div class="buoy-page-top">

    <div class="map-section"></div>

    <div class="header-section">
      <div class="buoy-header">
        <div class="weather-widget" *ngIf="weatherForecast">
          <img
            class="weather-item weather-icon"
            src="http://openweathermap.org/img/w/{{
              weatherForecast.current.weather[0].icon
            }}.png"
          />
          <p class="weather-item">
            {{ weatherForecast.current.temp | number: "1.0-0"
            }}<span>&#176;</span>
          </p>
          <p class="weather-item">
            {{ weatherForecast.current.weather[0].description | titlecase }}
          </p>
        </div>

        <div class="fav-button">
          <img src="../assets/icon-favorite-empty.svg" class="icon-favorite-empty"/>
        </div>

      </div>

      <div class="buoy-title-section">
        <h2 class="buoy-title">{{ currentBuoy.longName | uppercase }}</h2>
        <p class="buoy-number">({{ currentBuoy.id }})</p>
      </div>
    </div>

    <!-- <p class="buoy-update">Last updated: {{ buoyInformation[0].updateTime }}</p> -->
  </div>
  <div class="recreation-container container">
    <h3 class="container-title">These Conditions are Good For</h3>
    <div class="recreation-items-container information-container">
      Swimming
    </div>
    <div class="recreation-items-container information-container">
      Kayaking
    </div>
    <div class="recreation-items-container information-container">
      Fishing
    </div>
  </div>
  <div class="video-container container">
    <div class="information-container">
      <p>looping video</p>
    </div>
  </div>
  <!-- <div class="water-temp-chart-container container">
    <h3 class="container-title">Water Temp</h3>
    <div class="information-container">
      <p>Water Temperature Chart</p>
    </div>
  </div>
  <div class="currents-chart-container container">
    <h3 class="container-title">Currents</h3>
    <div class="information-container">
      <p>Currents Chart</p>
    </div>
  </div> -->
  <div class="buoy-info-container container">
    <h2 class="info-title">Buoy Info</h2>
    <div class="rectangle"></div>
    <p class="buoy-details">{{ currentBuoy.buoyInfo }}</p>
    <br />
    <p class="metadata">
      View metadata for this buoy stored in the Great Lakes Observing System
      Metadata Catalog
    </p>
  </div>
  <div class="access-details">
    <p>SMS: Text 45175 toll free to 866-218-9973 for latest observations.</p>
    <p>GLOS Data Portal: Access more data, models, and create alerts.</p>
  </div>
</div>
