<div class="buoy-page">
  <div class="buoy-page-top">

    <div class="map-section">
      <app-map
      [mapWidth]="mapWidth"
      [mapHeight]="mapHeight"
      [mapOptions]="mapOptions"
      >
    </app-map>
    </div>

    <div class="header-section">
      <div class="buoy-header">
        <div class="weather-widget" *ngIf="weatherForecast">
          <img
            class="weather-item weather-icon"
            src="http://openweathermap.org/img/w/{{
              weatherForecast.current.weather[0].icon
            }}.png"
          />
          <p class="weather-item">
            {{ weatherForecast.current.temp | number: "1.0-0"
            }}<span>&#176;</span>
          </p>
          <p class="weather-item">
            {{ weatherForecast.current.weather[0].description | titlecase }}
          </p>
        </div>

        <div [ngClass]="{'fav-button': true, 'is-filled': isFavorite(currentBuoy.id)}" (click)="toggleFavorite(currentBuoy.id)">
          <img src="../assets/icon-favorite-empty.svg" class="icon-favorite" *ngIf="!isFavorite(currentBuoy.id)" />
          <img src="../assets/icon-favorite-filled.svg" class="icon-favorite" *ngIf="isFavorite(currentBuoy.id)" />
        </div>

      </div>

      <div class="buoy-title-section" *ngIf="buoyInformation">
        <h2 class="buoy-title">{{ currentBuoy.longName | uppercase }}</h2>
        <p class="buoy-number">({{ currentBuoy.id }})</p>
      </div>
    </div>
  </div>
  <div class="recreation-container container" *ngIf="currentBuoy.obsLongName">
    <h3 class="container-title">These Conditions are Good For</h3>

    <div class="recreation-items-container information-container">
      <img class="recreation-icon" src="../assets/icon-swimming.svg" alt="Swimming">
      <h3 class="recreation-title">Swimming</h3>
      <p>Awesome for swimming</p>
      <p>Conditions are not good for swimming</p>
    </div>
    <div class="recreation-items-container information-container">
      <img class="recreation-icon" src="../assets/icon-kayaking.svg" alt="Kayaking"> 
      <h3 class="recreation-title">Kayaking</h3>
      <p>It's a great time to kayak!</p>
      <p>It's not the best time to kayak</p>
    </div>

    <div class="recreation-items-container information-container">
      <img class="recreation-icon" src="../assets/icon-fishing.svg" alt="Fishing">
      <h3 class="recreation-title">Fishing</h3>
      <p>It's perfect for fishing</p>
      <p>The conditions aren't ideal for fishing</p>
    </div>

    <div class="recreation-items-container information-container">
      <img class="recreation-icon" src="../assets/icon-boating.svg" alt="Boating">
      <h3>Boating</h3>
    </div>
  </div>

  <!-- Video Section -->
    <div class="information-container" *ngIf="webcamStream">
      <div class="videoModal"></div>
        <iframe [src]="sanitize(webcamStream)" frameborder="0" class="botd-video"></iframe>
    </div>
  <div class="buoy-info-container container" *ngIf="buoyInformation">
    <h2 class="info-title">Buoy Info</h2>
    <div class="rectangle"></div>
    <p class="buoy-details" [innerHTML]="currentBuoy.buoyInfo"></p>
  </div>

  <div class="access-details">
    <p>SMS: Text 45175 toll free to <a href="tel:866-218-9973">866-218-9973</a> for latest observations.</p>
    <p>GLOS <a href="http://data.glos.us/metadata/srv/eng/main.home">Data Portal</a>: Access more data, models, and create alerts.</p>
  </div>
</div>
