input {
  box-sizing: border-box;
}


.loginpage {
  width: 100vw;
}

.email,
.password,
.zip {
  height: 17px;
  font-family: NotoSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.86px;
  color: #36454f;
}

.emailinput,
.passwordinput,
.zipinput {
  border: none;
  width: 100%;
  padding: 9px 0px 9px 16px;
  margin: 4px 0 0;
  background-color: #c5d0e6;
  margin-bottom: 25px;
}

.login {
  width: 460px;
  height: 270px;
  margin-left: 30%;
  padding: 32px 80px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.register {
  width: 460px;
  height: 370px;
  margin-left: 35%;
  margin-top: 10%;
  padding: 32px 80px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.submitbutton {
  width: 100%;
  color: white;
  //margin: 216px 16px 0;
  padding: 9px 125px 8px 126px;
  border: none;
  border-radius: 18px;
  background-image: linear-gradient(to right, #3b5795, #3997b5);
}

@media only screen and (max-width: 500px) {
  .login {
    padding: 2px;
    width: 93%;
    height: 270px;
    margin-left: 16px;
    border-radius: 0;
    box-shadow: none;
  }

  .email,
  .password {
    height: 17px;
    font-family: NotoSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.86px;
    color: #36454f;
  }

  .emailinput,
  .passwordinput {
    border: none;
    width: 100%;
    padding: 9px 0px 9px 16px;
    margin: 4px 0 0;
    background-color: #c5d0e6;
    margin-bottom: 25px;
  }

  .loginbutton {
    width: 100%;
    position: relative;
    margin-top: 70%;
    color: white;
    //margin: 216px 16px 0;
    padding: 9px 125px 8px 126px;
    border: none;
    border-radius: 18px;
    background-image: linear-gradient(to right, #3b5795, #3997b5);
  }

  input {
    box-sizing: border-box;
  }

  #logo {
    padding-left: 2%;
  }
}
