// Buoy of the Day Video
.buoyOfTheDay {
  margin: 40px 16px;
}

.botd-header-ctn {
  display: flex;
  align-items: center;
}

.botd-header {
  font-size: 16px;
  color: var(--charcoal);
}

.icon-buoy {
  margin-right: 8px;
  filter: invert(32%) sepia(65%) saturate(612%) hue-rotate(183deg) brightness(83%) contrast(83%);
}

.videoModal {
  margin-top: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}

.buoyName {
  font-size: 16px;
  margin: 16px 0;
  color: var(--charcoal);
}

.botd-video {
  width: 100%;
  height: 320px;
}


// Bottom Paragraph Section
.about {
  margin: 40px 16px;
  }
  
  .aboutTitle {
    font-size: 18px;
    color: var(--Charcoal);
  }
  
  .rectangle {
    width: 60px;
    height: 4px;
    margin: 8px 0 16px 0;
    background-image: linear-gradient(
      to left,
      var(--turquoise),
      var(--cobalt)
    );
  }
  
  #mainText {
    font-size: 14px;
    color: var(--Charcoal);
  }



  @media screen and (min-width: 800px){
    .buoyOfTheDay {
      margin-top: 40px;
      margin-left: 48px;
      padding-right: 104px;
    }
    
    .botd-video {
      width: 100%;
      height: 600px;
    }

    .about {
      margin-top: 40px;
      margin-left: 48px;
      margin-bottom: 56px;
      padding-right: 104px;
    }
    
  }