<!-- Map Legend -->
<app-map-key></app-map-key>


<!-- Map -->
<app-map
[mapWidth]="mapWidth"
[mapHeight]="mapHeight"
[mapOptions]="mapOptions"
>
</app-map>

<p>{{ windSpeed }}</p>


<!-- Buoy of the Day Video -->
<div class="buoyOfTheDay">
    <div class="botd-header-ctn">
        <img src="../../../../assets/icon-buoy.svg" class="icon-buoy">
        <span class="botd-header">Buoy of the Day</span>
    </div>

    <div class="videoModal">
        <h2 class="buoyName">{{ chosenBuoy }}</h2>
        <iframe [src]="sanitize(chosenVideoLink)" frameborder="0" class="botd-video"></iframe>
    </div>
</div>


<!-- About the Buoy Portal -->
<div class="about">
    <span class="aboutTitle">About the Buoy Portal</span>
    <div class="rectangle"></div>
    <p id="mainText">The Great Lakes Observing System’s Great Lakes Buoy Portal provides users with near real-time weather, wave, and water quality conditions observed in the Great Lakes. The portal also allows users to check weather and wave forecasts, and to view hazard information from the National Weather Service. Observations come from both privately- and publicly-owned buoys. Forecasts are from NOAA’s <a href="https://www.glerl.noaa.gov/"> Great Lakes Environmental Research Laboratory’s</a>, the <a href="https://www.glerl.noaa.gov/res/glcfs/">Great Lakes Coastal Forecasting System</a>, and <a href="http://www.weather.gov/">the National Weather Service.</a></p>
</div>

