<nav class="nav-side-ctn">
    <div class="nav-items-ctn">

        <div class="nav-link-ctn">
            <img class="nav-links-icon" src="../assets/icon-lake-all.svg" alt="All">
            <p class="nav-links-header">All</p>
        </div>

        <div class="nav-link-ctn">
            <img class="nav-links-icon" src="../assets/icon-lake-erie.svg" alt="All">
            <p class="nav-links-header">Lake Erie</p>
        </div>

    </div>
    <img class="waves-img" src="../assets/waves.svg">
</nav>