<app-map
[mapWidth]="mapWidth"
[mapHeight]="mapHeight"
[mapOptions]="mapOptions"
>
</app-map>

<div class="buoys">
    <div class="lakeTitle">
        <img src="../../../../assets/icon-buoy.svg">
        <span id="title">Prince Edward Pt</span>
    </div>
    <table>
        <tr *ngFor="let cells of rows;">
            <td *ngFor="let buoy of cells">
                <span class="buoyid" (mouseenter)=titleChange(buoy.longName)>{{ buoy.id }}</span>
            </td>
        </tr>
    </table>
</div>

<div class="about">
    <span class="aboutTitle">About the Buoy Portal</span>
    <div class="rectangle"></div>
    <p id="mainText">The Great Lakes Observing System’s Great Lakes Buoy Portal provides users with near real-time weather, wave, and water quality conditions observed in the Great Lakes. The portal also allows users to check weather and wave forecasts, and to view hazard information from the National Weather Service. Observations come from both privately- and publicly-owned buoys. Forecasts are from NOAA’s Great Lakes Environmental Research Laboratory’s, the Great Lakes Coastal Forecasting System, and the National Weather Service.</p>
</div>
